
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is signed in.
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /employees/{employeeId} {
      allow read, write: if isSignedIn();
    }

    match /employees/{employeeId}/attendance/{date} {
      allow read, write: if isSignedIn();
    }

    match /employees/{employeeId}/documents/{documentId} {
      allow read, write: if isSignedIn();
    }
    match /employees/{employeeId}/leaveRequests/{leaveRequestId} {
      allow read, write: if isSignedIn();
    }
    match /employees/{employeeId}/reimbursementRequests/{reimbursementRequestId} {
      allow read, write: if isSignedIn();
    }

    match /branches/{branchId} {
      allow read, write: if isSignedIn();
    }
  }
}
